<div class="row">
	<div class="col-xs-12">
		<div class="ebay-scrape-info well text-center" data-scrape-id="<%= @ebay_scrape.id %>">
			<h1 class=""><%= @ebay_scrape.search.titleize %></h1>
			<p class="lead">Closest Match:</br> 
				<%= link_to @closest_match.title, @closest_match.href %></br> 
				<%= number_to_currency @closest_match.price, unit: '£' %>
			</p>

			<hr class="divider"></hr>

			<ul class="list-inline">
				<li>
					<h4>Average Price</h4>
					<span class="lead">
						<%= number_to_currency @ebay_scrape.average_price(@results), unit: '£' %>
					</span>
				</li>
				<li >
					<h4>Most Expensive Result:</h4>
					<span class="lead">
						<%= number_to_currency @most_expensive_result.price, unit: '£' %>		
					</span>
				</li>
				<li>
					<h4>Cheapest Result:</h4>
					<span class="lead">
						<%= number_to_currency @cheapest_result.price, unit: '£' %>
					</span>
				</li>
			</ul>

				<hr class="divider"></hr>
			
			<ul class="list-inline">
				<li>
					<h4>Recommended Price(New):</h4> 
					<span class="lead">
						<%= number_to_currency @ebay_scrape.new_recommended_price, unit: '£' %>
					</span>	
				</li>
				<li>
					<h4>Recommended Price(Used):</h4> 
					<span class="lead">
						<%= number_to_currency @ebay_scrape.used_recommended_price, unit: '£' %>
					</span>	
				</li>
			</ul>

		</div>		
	</div>
</div>