<div class="row">
	<div class="col-xs-12">
		<div class="well text-center">
			<h1 class=""><%= @ebay_scrape.search %></h1>
			<p class="lead">Closest Match:</br> 
				<%= link_to @closest_match.title, @closest_match.href %></br> 
				<%= number_to_currency @closest_match.price, unit: '£' %>
			</p>
			<ul class="list-inline">
				<li>
					<p>Average Price </br>
						<span class="lead">
							<%= number_to_currency @average_price, unit: '£' %>
						</span></p>	
				</li>
				<li >
					<p>Most Expensive Result:</br>
						<span class="lead">
							<%= number_to_currency @most_expensive_result.price, unit: '£' %>		
						</span>
					</p> 
				</li>
				<li>
					<p>Cheapest Result:</br>
						<span class="lead">
							<%= number_to_currency @cheapest_result.price, unit: '£' %>
						</span>
					</p>
				</li>
			</ul>

			<ul class="list-inline">
				<li>
					<p>Recommended Price(New):</br> 
							<span class="lead">
								<%= number_to_currency @ebay_scrape.new_recommended_price, unit: '£' %>
							</span>	
						</p>
				</li>
				<li>
					<p>Recommended Price(Used):</br> 
							<span class="lead">
								<%= number_to_currency @ebay_scrape.used_recommended_price, unit: '£' %>
							</span>	
						</p>
				</li>
			</ul>
			
			<%= form_tag ebay_scrape_path(@ebay_scrape), method: :patch, remote: true do %>
				<%= submit_tag "Update Results", class: 'btn btn-primary' %>
			<% end %>

		</div>		
	</div>
</div>