<table class="table table-bordered results-table">
	<tr>
		<td>Title</td>
		<td>Price</td>
		<td>Shipping</td>
		<td>Format</td>
		<td>Condition</td>
	</tr>

	<% ebay_scrape.results.each do |result| %>
		<tr id="result-<%= result.id %>">
			<td><a href="<%= result.href %>"><%= result.title %></a></td>
			<td>£<%= result.price %></td>
			<td>£<%= result.shipping %></td>
			<td><%= result.format %></td>
			<td><%= result.condition %></td>
		</tr>
	<% end %>
</table>